NET "clk_i" TNM_NET = "clk_i";
TIMESPEC "TS_clk_i" = PERIOD "clk_i" 50 ns HIGH 50 %;

NET "clk_i"  LOC = "P77"  ;
NET "pad_clk_o"  LOC = "P24" | DRIVE = 2  ;
NET "pad_latch_o"  LOC = "P23" | DRIVE = 2  ;
NET "pad_data_i<0>"  LOC = "P22"  ;
NET "pad_data_i<1>"  LOC = "P21"  ;
NET "audio_o<0>"  LOC = "P10" | DRIVE = 2  ;
NET "audio_o<1>"  LOC = "P9" | DRIVE = 2  ;
NET "audio_o<2>"  LOC = "P8" | DRIVE = 2  ;
NET "audio_o<3>"  LOC = "P7" | DRIVE = 2  ;
NET "audio_o<4>"  LOC = "P6" | DRIVE = 2  ;
NET "audio_o<5>"  LOC = "P5" | DRIVE = 2  ;
NET "audio_o<6>"  LOC = "P4" | DRIVE = 2  ;
NET "audio_o<7>"  LOC = "P3" | DRIVE = 2  ;
NET "audio_l_o"  LOC = "P11" | DRIVE = 2  ;
NET "audio_r_o"  LOC = "P15" | DRIVE = 2  ;
NET "rgb_r_o<0>"  LOC = "P42" | DRIVE = 2  ;
NET "rgb_r_o<1>"  LOC = "P41" | DRIVE = 2  ;
NET "rgb_r_o<2>"  LOC = "P40" | DRIVE = 2  ;
NET "rgb_g_o<0>"  LOC = "P36" | DRIVE = 2  ;
NET "rgb_g_o<1>"  LOC = "P35" | DRIVE = 2  ;
NET "rgb_g_o<2>"  LOC = "P34" | DRIVE = 2  ;
NET "rgb_b_o<0>"  LOC = "P33" | DRIVE = 2  ;
NET "rgb_b_o<1>"  LOC = "P31" | DRIVE = 2  ;
NET "comp_sync_n_o"  LOC = "P27" | DRIVE = 2  ;
NET "ram_a_o<0>"  LOC = "P132" | DRIVE = 2  ;
NET "ram_a_o<1>"  LOC = "P129" | DRIVE = 2  ;
NET "ram_a_o<2>"  LOC = "P127" | DRIVE = 2  ;
NET "ram_a_o<3>"  LOC = "P126" | DRIVE = 2  ;
NET "ram_a_o<4>"  LOC = "P125" | DRIVE = 2  ;
NET "ram_a_o<5>"  LOC = "P123" | DRIVE = 2  ;
NET "ram_a_o<6>"  LOC = "P122" | DRIVE = 2  ;
NET "ram_a_o<7>"  LOC = "P121" | DRIVE = 2  ;
NET "ram_a_o<8>"  LOC = "P120" | DRIVE = 2  ;
NET "ram_a_o<9>"  LOC = "P116" | DRIVE = 2  ;
NET "ram_a_o<10>"  LOC = "P115" | DRIVE = 2  ;
NET "ram_a_o<11>"  LOC = "P114" | DRIVE = 2  ;
NET "ram_a_o<12>"  LOC = "P113" | DRIVE = 2  ;
NET "ram_a_o<13>"  LOC = "P112" | DRIVE = 2  ;
NET "ram_a_o<14>"  LOC = "P111" | DRIVE = 2  ;
NET "ram_a_o<15>"  LOC = "P110" | DRIVE = 2  ;
NET "ram_a_o<16>"  LOC = "P109" | DRIVE = 2  ;
NET "ram_d_b<0>"  LOC = "P154" | DRIVE = 2  ;
NET "ram_d_b<1>"  LOC = "P153" | DRIVE = 2  ;
NET "ram_d_b<2>"  LOC = "P152" | DRIVE = 2  ;
NET "ram_d_b<3>"  LOC = "P151" | DRIVE = 2  ;
NET "ram_d_b<4>"  LOC = "P150" | DRIVE = 2  ;
NET "ram_d_b<5>"  LOC = "P149" | DRIVE = 2  ;
NET "ram_d_b<6>"  LOC = "P148" | DRIVE = 2  ;
NET "ram_d_b<7>"  LOC = "P147" | DRIVE = 2  ;
NET "ram_d_b<8>"  LOC = "P146" | DRIVE = 2  ;
NET "ram_d_b<9>"  LOC = "P145" | DRIVE = 2  ;
NET "ram_d_b<10>"  LOC = "P141" | DRIVE = 2  ;
NET "ram_d_b<11>"  LOC = "P140" | DRIVE = 2  ;
NET "ram_d_b<12>"  LOC = "P139" | DRIVE = 2  ;
NET "ram_d_b<13>"  LOC = "P138" | DRIVE = 2  ;
NET "ram_d_b<14>"  LOC = "P136" | DRIVE = 2  ;
NET "ram_d_b<15>"  LOC = "P135" | DRIVE = 2  ;
NET "ram_ce_n_o"  LOC = "P108" | DRIVE = 2  ;
NET "ram_wel_n_o"  LOC = "P134" | DRIVE = 2  ;
NET "ram_weu_n_o"  LOC = "P133" | DRIVE = 2  ;
